.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contacts__link {
  width: calc(100% - 40px);
  margin: 0 20px;
}

.contacts__list {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 21px;
  padding-bottom: 21px;
  list-style-type: none;
}

.contacts__item {
  padding: 0;
  margin: 0;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.contacts__link-htmlacademy {
  max-width: 320px;
  margin: 22px auto;

  &:hover,
  &:focus {
    fill: #68B738;
  }

  &:active {
    fill: #68B738;
    opacity: 0.6;
  }
}

.contacts__htmlacademy-image {
  display: block;
  margin-left: auto;
  width: 100%;
  height: auto;
}

