.example {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 25px 20px 40px;
  background-color: #EAEAEA;
}

.example__title {
  grid-column: -1/1;
  grid-row: 1/2;
  justify-self: start;
  align-self: start;
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__description {
  grid-column: -1/1;
  grid-row: 2/3;
  justify-self: start;
  align-self: start;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__results {
  grid-column: -1/1;
  grid-row: 3/4;
  justify-self: stretch;
  margin: 0;
}

.example__expences {
  margin-bottom: 40px;
  align-self: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.example__image {
  display: block;
  margin-bottom: 15px;

  &--was {
    width: 100%;
  }

  &--become {
    display: none;
  }
}

.example__range {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

