.form-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-top: 1px solid #D9D9D9;
}

.form-main__main-title {
  padding-top: 27px;
  margin: 0 20px 37px;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.form-main__description {
  margin: 0 20px 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.form-main__form {
  width: 100%;
  margin: 0;
}
