.index-main {
  flex-grow: 1;
}

.index-main__choose-programm {
  width: 100%;
  margin-bottom: 20px;
}

.index-main__sistems {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.index-main__how-it-work {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 49px;
}

.index-main__example {
  width: 100%;
  margin-bottom: 40px;
}
