
/*почему странный размер этого блока. Он же должен быть по факту 100%-20рх-20рх слева и справа*/

.main-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px 20px 18px;
}

.main-header__logo-link {
  text-decoration: none;
}

.main-header__logo-image {
  display: block;
  border: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
