.mobile-menu {
  display: block;
  border-top: 1px solid #E6E6E6;
  padding-top: 24px;
  padding-bottom: 24px;
}

.mobile-menu__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  vertical-align: center;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}